@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap");

:root {
    --text: #373d4b;
    --bg: #f5f0ec;
    --accent: #2f4327;
}

body {
    position: relative;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    margin: 0px;
    line-height: 1.6;
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

a,
button {
    font-family: "Montserrat Alternates", sans-serif;
    transition: all 0.4s ease 0s;
}

button:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    margin: 20px 0 ;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text);
}

.header__list {
    display: flex;
    gap: 40px;
}
.header__item a {
    color: var(--text);
}

.header__logo:hover, .header__item a:hover {
    opacity: 0.5;
}

/*  SLIDER */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 80vh;
}

.slide__image {
    display: block;
    object-fit: cover;
    max-height: 80vh;
    width: 100%;
}

.slide__title, .slide__artist {
    margin: 0;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: var(--accent);
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}
.swiper-pagination-bullet-active {
    background: var(--accent);
}